.env
case_studies
documents
outputs
training
results
*test
images
*pycache*
YoloV8_Test
runs
.comet*
.DS_Store
*Temp*
auto_test
visualisation/outputs
data/shapes
active_learning/data
MoretonVal
ValData.zip
